# Compiled class file
*.class

# Log file
*.log
# BlueJ files
*.ctxt
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
# Maven
target/
# IntelliJ/Gradle output
out/
# Refactoring backup directories
.refactor-backup-*/
*.refactor-backup-*

# Additional Maven patterns added Fri Aug 29 20:30:04 CEST 2025
**/target/generated-sources/
**/target/generated-test-sources/
**/target/generated-resources/
.refactor-backup-*/
