name: CI
on:
  push:
    branches: [develop]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'tutorials/**'
      - 'examples/**/README.md'
      - 'LICENSE'
      - '.gitignore'
  pull_request:
    branches: [develop, main]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'tutorials/**'
      - 'examples/**/README.md'
      - 'LICENSE'
      - '.gitignore'
  workflow_dispatch:
    inputs:
      triggered-by:
        description: 'Orchestrator run ID'
        required: false
        type: string
jobs:
  build:
    uses: fireflyframework/.github/.github/workflows/java-ci.yml@main
    with:
      java-version: '25'
